# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
.gradle/
local.properties
**/android/app/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework

# Mac / Windows junk
.DS_Store
Thumbs.db

# Logs
*.log

# Keystore (VERY IMPORTANT)
*.jks
key.properties


backend/node_modules/
backend/*.zip
backend/build/
backend/.env


# Flutter
build/
.dart_tool/

# Android
android/.gradle/
android/app/build/
android/build/

# iOS
ios/Pods/

# Backend
backend/node_modules/
backend/*.zip
backend/build/

# Large files
*.zip
*.apk
*.aab
*.hprof

# Keystore
*.jks
key.properties


build/
.dart_tool/
.gradle/
android/build/
android/app/build/
backend/node_modules/
backend/*.zip
*.zip
*.apk
*.aab
*.hprof
*.jks
key.properties